/.venv/
/.env
/.env.*
*.pyc
__pycache__/
/.DS_Store
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
finance.db
db/db_data
*.sqlite
*.db
*.log
venv/
backend/__pycache__/
backend/*.pyc
worker/__pycache__/
worker/*.pyc
pip-wheel-metadata/
.pytest_cache/
coverage/
dist/
build/
/.idea/
.vscode/
*.egg-info/
Dockerfile
docker-compose.override.yml